# Combina SJR e Lattes

Checa se os dados do SCImagoJR cobrem todos os periódicos e as confereências dos dados dos perfis da plataforma Lattes.

In [1]:
import unidecode
import numpy as np
import pandas as pd
import re

Dados do Qualis

In [2]:
qualis = pd.read_csv("../dataset/qualis/qualis_2013-2016.csv", encoding="latin-1", sep=",", header=0, usecols=["Título","Área de Avaliação","Estrato"])
qualis.head(10)

,Título,Área de Avaliação,Estrato
0,19&20 (RIO DE JANEIRO),"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",C
1,A BARRIGUDA: REVISTA CIENTÍFICA,"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",B4
2,A ECONOMIA EM REVISTA,"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",B4
3,A&C. REVISTA DE DIREITO ADMINISTRATIVO & CONST...,"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",B4
4,ABACUS (SYDNEY. PRINT),"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",A2
5,ABCD : ARQUIVOS BRASILEIROS DE CIRURGIA DIGESTIVA,"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",B2
6,ABCS HEALTH SCIENCES,"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",B3
7,ABCS HEALTH SCIENCES,"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",B3
8,"ABCUSTOS (SÃO LEOPOLDO, RS)","ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",B4
9,ACADEMIA (CARACAS),"ADMINISTRAÇÃO PÚBLICA E DE EMPRESAS, CIÊNCIAS ...",B1

Dados da plataforma Lattes

In [3]:
artigos = pd.read_csv("../dataset/lattes/artigos.csv", sep=";sep;", usecols=["id_pesquisador", "ano_publicacao", "journal_ou_conferencia", "numero_pesquisadores"], header=0, engine='python')
artigos = artigos.dropna()
artigos.head(10)

,id_pesquisador,ano_publicacao,journal_ou_conferencia,numero_pesquisadores
0,0099900328713566,2005,Sitientibus. Série Ciências Biológicas,3.0
1,0099900328713566,2007,Mycotaxon,3.0
2,0099900328713566,2007,Mycotaxon,4.0
3,0099900328713566,2007,Acta Botanica Brasilica,3.0
4,0099900328713566,2009,Acta Botanica Brasílica (Impresso),2.0
5,0099900328713566,2009,Acta Botanica Brasílica (Impresso),2.0
6,0099900328713566,2008,Mycotaxon,4.0
7,0099900328713566,2008,Revista Brasileira de Botânica,4.0
8,0099900328713566,2008,Mycotaxon,4.0
9,0099900328713566,2008,Revista Brasileira de Botânica,3.0

Vamos precisar de duas funções:

- Uma para tratar as strings
- Outra pra dividir uma string com caracteres marcadores

In [4]:
def ops(s):
    s = re.sub(r"\s?\(.*\)", "", s)
    s = unidecode.unidecode(s)
    s = s.lower()
    s = re.sub("\s+", " ", s)
    s = s.strip()
    
    return s

In [5]:
def splt(s):
    chars = [".", ";", ":", "/", "-"]
    subs = [s]
    
    for c in chars:
        aux = list()
        for s in subs:
            aux += s.split(c)
        subs = aux
        
    return subs

Obtendo o conjunto dos periódicos do qualis e a lista dos do lattes

In [14]:
qcatg = qualis["Área de Avaliação"].to_list()
qtitl = qualis["Título"].to_list()
qlist = set([ops(x) for x in qtitl])
    
lattes_set = [ops(x) for x in artigos["journal_ou_conferencia"].to_list()]

Contabilizando a cobertura

In [15]:
count = len([1 for x in lattes_set if x in qlist])

In [16]:
print(count/len(lattes_set))

0.8169796902514156

In [20]:
len(set(qcatg))

49